<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/482a893b-9631-454a-bb48-e26bac5476b7/resourcegroups/NationalCookies/providers/Microsoft.ContainerRegistry/registries/NationalCookiesApi20210423174550</ResourceId>
    <ResourceName>NationalCookiesApi20210423174550</ResourceName>
    <ResourceGroup>NationalCookies</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>https://nationalcookiesapi20210423174550.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>d1a23424-cd95-4430-a861-5fdb3d3dc424</ProjectGuid>
  </PropertyGroup>
</Project>